@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --primary-background-button-rgb: 37, 99, 235;
  --primary-foreground-button-rgb: 255, 255, 255;
  --primary-button-hover-bg-rgb: 29, 78, 216;
  --primary-button-focus-ring-rgb: 147, 197, 253;
  --primary-button-disabled-bg-rgb: 204, 204, 204;
  --nav-bar-bg-rgb: 249, 250, 251;
  --nav-bar-border-rgb: 229, 231, 235;
  --nav-bar-option-fg-rgb: 29, 78, 216;
  --nav-bar-option-hover-rgb: 0, 0, 0;
  --nav-bar-option-selected-rgb: 0, 0, 0;
}
.ag-theme-quartz {
  /* bright green, 10% opacity */
  --ag-selected-row-background-color: rgb(0, 255, 0, 0.1);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.modal-background {
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-bar {
  background-color: rgb(var(--nav-bar-bg-rgb));
  border-color: rgb(var(--nav-bar-border-rgb));
}

.nav-bar-option {
  color: rgb(var(--nav-bar-option-fg-rgb));
}

.nav-bar-option:hover {
  color: rgb(var(--nav-bar-option-hover-rgb));
}

.nav-bar-option-selected {
  color: rgb(var(--nav-bar-option-selected-rgb));
}

.primary-button {
  background-color: rgb(var(--primary-background-button-rgb));
  color: rgb(var(--primary-foreground-button-rgb));
}

.primary-button:hover {
  background-color: rgb(var(--primary-button-hover-bg-rgb));
}

.primary-button:focus {
  --tw-ring-color: rgb(var(var(--primary-button-focus-ring-rgb)));
}

.primary-button:disabled {
  background-color: rgb(var(--primary-button-disabled-bg-rgb));
  color: rgb(var(--primary-foreground-button-rgb));
}

.modal-backdrop {
  background-color: rgb(0 0 0 / 0.5);
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:disabled {
  background-color: rgb(var(--primary-button-disabled-bg-rgb));
  color: rgb(var(--primary-foreground-button-rgb));
}

.tab button:disabled:hover {
  background-color: rgb(var(--primary-button-disabled-bg-rgb));
  color: rgb(var(--primary-foreground-button-rgb));
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(var(--primary-button-hover-bg-rgb));
  color: rgb(var(--primary-foreground-button-rgb));
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(var(--primary-background-button-rgb));
  color: rgb(var(--primary-foreground-button-rgb));
}

/* Style the tab content */
.tabcontent {
  border: 1px solid #ccc;
  border-top: none;
}